// APP.jsx
.app{
    display: flex;
    min-height: 100%;
    .container{
        width: 100%;
        
        //navbar

        @media (min-width: 800px) {
            .navbar {
                .container {
                    width: 800px;
                    margin-top: 20px;
                    border-radius: 15px 15px 15px 15px;
                    .links {
                        position: absolute;
                        right: 0;
                        margin: 10px;
                        z-index: 100;
                    }
                }
            }
            .footer {
                .container{
                    width: 800px;
                }
            }
        }

        @media (max-width: 800px) {
            .navbar {
                .container {
                    border-radius: 0 0px 15px 15px;
                }
            }
            
        }

        @media (max-width: 600px) {
            .links {
                position: absolute;
                right: 10px;
                z-index: 100;
                top: 70px;
            }
        }

        .navbar {
            display: flex;
            justify-content: center;
            .container {
                background: rgba(0, 128, 128, 0.2);
                backdrop-filter: blur(8px);
                border-bottom: 2px rgba(0, 255, 255, 0.5) solid;
                
                box-shadow: 0px 0px 20px 5px rgba(0, 128, 128, 0.3) inset;
                max-width: 100%;
                max-height: 65px;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    overflow: hidden;
                    transition: all 0.2s linear;
                    border: 2px rgba(0, 255, 255, 0.8) solid;
                    box-sizing: border-box;
                    &:hover {
                        transform: scale(115%);
                    }
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .button {
                    display: flex;
                    flex-direction: column;
                    right: 0;
                    a {
                        text-decoration: none;
                    }
                    button {
                        display: none;
                        position: relative;
                        max-height: 50px;
                        width: 50px;
                        height: 50px;
                        box-sizing: border-box;
                        background-color: teal;
                        border: 1.5px teal solid;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 100%;
                        transition: all 0.2s linear;
                        &:hover {
                            background: transparent;
                            border: 1.5px rgba(0, 255, 255, 0.8) solid;
                            div {
                                border: 1.5px rgb(0, 255, 255, 0.8) solid;
                            }  
                        }
                        &.open {
                            border: 1.5px rgb(0, 255, 255) solid;
                            background: transparent;
                            box-shadow: 0 0px 10px 0px rgba(0, 128, 128, 0.5);
                            position: relative;
                            div {
                                border: 1.5px rgb(0, 255, 255) solid;
                            }
                            .div1 {
                                transform: rotate(45deg);
                                position: sticky;
                                top: -15px;
                            }
                            .div2 {
                                transform: scale(0%);
                            }
                            .div3 {
                                transform: rotate(-45deg);
                                position: sticky;
                            }    
                        }
                        div {
                            width: 30px;
                            max-height: 1px;
                            background: #000;
                            border: 1.5px white solid;
                            transition: 0.2s;
                            position: absolute;
                            border-radius: 10px;
                            margin: -1px;
                        }
                        .div1 {
                            top: 15px;
                        }
                        .div3 {
                            bottom: 15px;
                        }
                    }
                }
            }    

            .links {
                .sider {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-size: 1.3rem;   
                    transition: 0.2s;
                    border-radius: 10px;
                    background-color: rgb(0, 90, 90);
                    padding: 10px;
                    box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.3);
                    border: 2px solid rgba(0, 255, 255, 0.5);
                    box-sizing: border-box;
                    
                    a {
                        text-decoration: none;
                        color: rgb(129, 255, 255);
                        cursor: default;
                        transition: all 0.2s linear;
                        &:focus {
                            color: rgb(128, 255, 255);
                            transform: scale(110%);
                        }
                    }
                }
                .sider.close {
                    transform: translateY(-55px) scaleY(0%) scaleX(10%) rotate(15deg);
                    opacity: 0%;
                    overflow-y: hidden; 
                    transition: 0.2s;
                }
            }
        }

        
        //footer
        .footer{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            .container {
                background-color: rgba(0, 128, 128, 0.2);
                backdrop-filter: blur(8px);
                display: flex;
                max-height: 80%;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                height: 300px;
                box-sizing: border-box;
                border-top: 2px rgba(0, 255, 255, 0.5) solid;
                border-radius: 15px 15px 0 0;
                box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.3) inset;
                align-items: center;
                .buttons {
                    display: flex;
                    justify-content: center;
                    gap: 50px;
                    max-width: 100%;
                    padding: 10px;
                    a {
                        text-decoration: none;
                    }
                    button {
                        padding: 13px;
                        border-radius: 100%;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        transition: 0.2s;
                        box-sizing: border-box;
                        border: 2px transparent solid;
                        &.linkedin {
                            background: rgb(50, 50, 253);
                            &:hover {
                                border: 2px rgb(50, 50, 253) solid;
                                svg {
                                    color: rgb(50, 50, 253);
                                }
                            }
                        }
                        &.github {
                            background-color: #131313;
                            &:hover {
                                border: 2px #131313 solid;
                                svg {
                                    color: #131313;
                                }
                            }
                        }
                        &.cv {
                            background-color: teal;
                            &:hover {
                                border: 2px teal solid;
                                svg {
                                    color: teal;
                                }
                            }
                        }
                        svg {
                            width: 90%;
                            color: white;
                        }
                        &:hover {
                            background-color: transparent;
                            transform: scale(102%);
                        }
                    }
                }
                .contact {
                    color: rgb(120,255,255);
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: center;
                    margin-top: 20px;
                }
            }
        }

        //paginas (HOME)
        .page {
            display: flex;
            min-height: calc(100% - 365px);
            justify-content: center;
            &.home {
                .container {
                    backdrop-filter: blur(8px);
                    background: rgba(0, 128, 128, 0.3);
                    border: 2px solid rgba(0, 255, 255,0.5);
                    box-sizing: border-box;
                    box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.3) inset;
                    margin: 10px;
                    margin-block: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 15px;
                    max-width: 730px;

                    //SOBRE MI
                    .aboutMe{
                        width: calc(80% - 30px);
                        margin-block: 15px;
                        color: rgb(129, 255, 255);
                        .title {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-block-end: 10px;
                            filter: drop-shadow(0px 0px 5px rgba(0, 255, 255, 0.8));
                        }
                        .contain {
                            margin-block-start: 30px;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            font-weight: bold;
                            .presentation {
                                color: rgb(226, 173, 0);
                                
                                font-size: 1.1rem;
                            }
                            .uruguay {
                                color: rgb(16, 187, 255);
                                
                            }
                            .context {
                                color: rgb(220, 223, 233);
                            }
                        }
                    }

                    //Trayectoria
                    .trajectory {
                        width: calc(80% - 30px);
                        margin-block: 15px;
                        display: flex;
                        flex-direction: column;
                        .timelineTitle {
                            color: rgb(129, 255, 255);
                            filter: drop-shadow(0px 0px 5px rgba(0, 255, 255, 0.8));
                            font-size: 1.5rem;
                            margin-block-end: 20px;
                        }
                        .timelineContainer{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            width: 100%;
                            .timeline {
                                height: 100%;
                                width: 3px;
                                border-radius: 15px;
                                left: 6px;
                                background: rgb(156, 255, 255);
                                position: absolute;
                            }
                            .timelinecontent{
                                display: flex;
                                width: 100%;
                                color: rgb(97, 255, 255);
                                gap: 15px;
                                .timeline-head{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                    font-weight: bold;
                                    .title {
                                        font-size: 1rem;
                                        color: rgb(226, 173, 0);
                                    }
                                    .date {
                                        font-size: 0.7rem;
                                        margin-bottom: 2.2px;
                                        color: rgb(220, 223, 233);
                                    }
                                }
                                .contain {
                                    font-weight: bold;
                                    font-size: 0.9rem;
                                    margin-block-start: 8px;
                                    max-width: 80%;
                                }
                                .dot{
                                    display: flex;
                                    min-width: 15px;
                                    height: 15px;
                                    background: rgb(156, 255, 255);
                                    z-index: 2;
                                    border-radius: 100%;
                                    box-shadow: 0 0 10px 5px rgb(156, 255, 255, 0.2);
                                }
                            }
                        }
                    }

                    //PUBLICACIONES
                    .feed {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        .publicationMobile {
                            border-radius: 15px;
                            margin: 15px;
                            width: calc(80% - 30px);
                            border: 2px rgba(0, 255, 255, 0.5) solid;
                            box-shadow: 0 5px 20px 0px rgb(0, 255, 255, 0.5);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            background: rgb(0, 56, 56);
                            .img {
                                max-height: 250px;
                                max-width: 250px;
                                margin-top: 10px;
                                display: flex;
                                justify-content: center;
                                overflow: hidden;
                                border-radius: 15px;
                                img {
                                    max-height: 200px;
                                    max-width: 200px;
                                }
                            }
                            .contenido {
                                .titulo{
                                    font-size: 1.6rem;
                                    margin-bottom: 15px;
                                    margin-top: 15px;
                                }
                                margin-inline: 20px;
                                color: rgb(129, 255, 255);
                                max-width: calc(100% - 20px);
                                min-height: 100px;
                                font-weight: bold;
                                font-size: 1.3rem;
                            }
                            .link {
                                display: flex;
                                justify-content: center;
                                gap: 50px;
                                max-width: 100%;
                                padding: 10px;
                                button {
                                    padding: 13px;
                                    border-radius: 100%;
                                    width: 60px;
                                    height: 60px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: none;
                                    transition: 0.2s;
                                    box-sizing: border-box;
                                    border: 2px transparent solid;
                                    a {
                                        text-decoration: none;
                                    }
                                    &.go {
                                        background-color: teal;
                                        &:hover {
                                            border: 2px teal solid;
                                            svg {
                                                color: teal;
                                            }
                                        }
                                    }
                                    &.github {
                                        background-color: #131313;
                                        &:hover {
                                            border: 2px #131313 solid;
                                            svg {
                                                color: #131313;
                                            }
                                        }
                                    }
                                    svg {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: white;
                                    }
                                    &:hover {
                                        background-color: transparent;
                                        transform: scale(102%);
                                    }
                                }
                            }
                        }  
                    }
                }    
            }
        }
        
            .navbar {
                .container {
                    .links {
                        display: flex;
                        gap: 30px;
                        margin-inline: 30px;
                        margin-block: 10px;
                        z-index: 100;
                        a {
                            text-decoration: none;
                            color: rgb(129, 255, 255);
                            cursor: default;
                            transition: all 0.1s linear;
                            &:focus {
                                color: rgb(128, 255, 255);
                                transform: scale(110%);
                            }
                            &:hover {
                                filter: drop-shadow(0px 0px 5px rgba(0, 255, 255, 0.8));
                                color: rgb(128, 255, 255);
                                transform: scale(110%);
                            }
                        }
                    }
                }
                
            }

            @media (min-width: 760px) {
                .page {
                    display: flex;
                    justify-content: center;
                }
            }

            .feed {
                .rows{
                    display: flex;
                    width: calc(80% - 30px);
                    gap: 30px;
                    margin-block: 15px;
                    
                    .publicationDesktop {
                            border-radius: 15px;
                            
                            border: 2px rgba(0, 255, 255, 0.5) solid;
                            box-shadow: 0 5px 20px 0px rgb(0, 255, 255, 0.5);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            background: rgb(0, 56, 56);
                            .img {
                                max-height: 250px;
                                max-width: 250px;
                                margin-top: 10px;
                                display: flex;
                                justify-content: center;
                                overflow: hidden;
                                border-radius: 15px;
                                img {
                                    max-height: 200px;
                                    max-width: 200px;
                                }
                            }
                            .contenido {
                                .titulo{
                                    font-size: 1.6rem;
                                    margin-bottom: 15px;
                                    margin-top: 15px;
                                }
                                margin-inline: 20px;
                                color: rgb(129, 255, 255);
                                max-width: calc(100% - 20px);
                                min-height: 100px;
                                font-weight: bold;
                                font-size: 1.3rem;
                            }
                            .link {
                                display: flex;
                                justify-content: center;
                                gap: 50px;
                                max-width: 100%;
                                padding: 10px;
                                button {
                                    padding: 13px;
                                    border-radius: 100%;
                                    width: 60px;
                                    height: 60px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: none;
                                    transition: 0.2s;
                                    box-sizing: border-box;
                                    border: 2px transparent solid;
                                    a {
                                        text-decoration: none;
                                    }
                                    &.go {
                                        background-color: teal;
                                        &:hover {
                                            border: 2px teal solid;
                                            svg {
                                                color: teal;
                                            }
                                        }
                                    }
                                    &.github {
                                        background-color: #131313;
                                        &:hover {
                                            border: 2px #131313 solid;
                                            svg {
                                                color: #131313;
                                            }
                                        }
                                    }
                                    svg {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: white;
                                    }
                                    &:hover {
                                        background-color: transparent;
                                        transform: scale(102%);
                                    }
                                }
                            }
                    }
                }
            }
        }
    
}


